/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: One-Millions-Lines                          / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* dekstop.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/01/12 13:57:00 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/01/12 13:57:00 vcastell                |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

/* ################# DEKSTOP */

.navbar-dekstop{
	display: none;
}

/* ### MEDIA QUERIES ### */

@media only screen and (min-width: 1200px){
	.container-dekstop{
		width: 70%;
		margin: auto;
	}

	/* SECTION 1 */

	.section1 h1{
		padding: 0px 40px;
	}

	.section1 p{
		padding: 0px 100px;
	}

	.section

	/* SECTION 2 */

	.infos{
		display: flex;
		flex-direction: row;
	}

	/* SECTION 3 */

	/* FOOTER  */

	footer img{
		padding-left: 0px;
	}
}