/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: One-Millions-Lines                          / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* dekstop.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/01/14 13:57:00 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/01/16 13:27:52 vcastell                  |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

/* ################# DEKSTOP */

header .nav-dekstop{
	background-color: var(--gray-dark);
	display: flex;
	justify-content: space-between;
	padding: 10px 20%;
	align-items: center;
	display: none;
}

header .nav-dekstop ul{
	display: flex;
	gap: 20px;
}

header .nav-dekstop ul li, 
header .nav-dekstop ul li a{
	font-weight: 700;
	text-decoration: none;
	list-style: none;
	color: #797878;
}

/* ### MEDIA QUERIES ### */

@media only screen and (min-width: 1020px){

	header .nav-mobile{
		display: none;
	}
	
	header .nav-dekstop{
		display: flex;
	}


	.container-dekstop{
		width: 70%;
		margin: auto;
	}

	/* SECTION 1 */

	.section1 h1{
		padding: 0px 40px;
	}

	.section1 p{
		padding: 0px 100px;
	}

	/* SECTION 2 */

	.infos{
		display: flex;
		flex-direction: row;
	}

	/* SECTION 3 */

	/* FOOTER  */

	footer img{
		padding-left: 0px;
	}
}